*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    margin-top: 16px;
    color: #f0f0f0;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}
.logo:hover{
    background-color: rgb(232, 149, 149);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}
.nav-links a:hover {
    color: #ff8c00; /* Change the color on hover */
    transition: color 0.3s ease; /* Add a smooth transition effect */
}
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}



/* Styling for responsive navigation */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

  /* Hide slides by default */
  .mySlides {
    display: none;
  }

  /* Style for slideshow images */
  .slideshow-container img {
    width: 70%;
    height: auto;
    padding-left: 30%;
  }

  /* Style for navigation dots */
  .dot-container {
    text-align: center;
    margin-top: 20px;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  /* Active dot */
  .active {
    background-color: #717171;
  }